
<div class="page-title">
  <h1>{{repos.title}}</h1>
</div>

<div class="row" ng-show="!carregando">
  <div class="col s12 m4 l3">
    <stk-owner owner="repos.owner"></stk-owner>
  </div>
  <div class="col s12 m8 l9">
    <ul class="collection">
      <li class="collection-item waves-effect waves-teal" ng-click="openRepo(repo)" ng-repeat="repo in repos.list" title="Ver detalhes">
        <span class="title bold">{{::repo.full_name}}</span>
        <p>{{::repo.description}}</p>
        <div class="chip" ng-show="repo.language">
          {{::repo.language}}
        </div>
        <div class="chip">
          <i class="fa fa-code-fork"></i>
          {{::repo.forks_count}} forks
        </div>
        <div class="chip">
          <i class="fa fa-star"></i>
          {{::repo.stargazers_count}} stars
        </div>
      </li>
    </ul>
  </div>
</div>
